<%= simple_form_for([namespace, page.resource], wrapper: 'administrate', html: { class: "form" }) do |f| %>
 
  <% page.attributes.each do |attribute| -%>
    <%= render_field attribute, f: f %>
  <% end -%>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
