.companies-search {
  .query-form-group {
    margin-bottom: 1.75rem;
  }
  .form-submit {
    float: right;
    margin-right: 1rem;
    margin-top: -2rem;
  }

  .twitter-typeahead {
    width: 100%;
  }
}
