.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar .rrssb-buttons li {
  width: 10em !important;
  float: none;
  margin-bottom: .5em;
}

.sidebar .card {
  min-height: 14.5rem;
}
