<%#
# Sidebar

This partial is used to display the sidebar in Administrate.
By default, the sidebar contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<ul class="sidebar__list">
  <%- resources = %i(companies company_aliases goods categories cities users reviews purchase_prices custom_ratings faqs publications) %>
  <% resources.each do |resource| %>
    <li>
      <%= link_to(
        display_resource_name(resource),
        [namespace, resource],
        class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
      ) %>
    </li>
  <% end %>
</ul>

<ul class="sidebar__utils">
  <li>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "sidebar__link" %>
  </li>
  <li>
    <%= render 'shared/locale_select' %>
  </li>
</ul>
